<h1>Password Changed Successfully</h1>
<p>Hello <%= @user.name %>,</p>
      
<p>You just changed your password, sign in again so we know it's you!</p>
      
    <%= link_to "Click here", @login_url, class: "login-button" %>

<p>If you did not make this change, please contact our support team immediately.</p>
      
<p>Best regards,<br>
Your App Team</p>
    
<p>This email was sent automatically. Please do not reply to this email.</p>
    