<% provide(:title, t("contact.help.title")) %>

<h1><%= t("contact.help.title") %></h1>

<p>
  <%= t("contact.help.description_html",
         help_link: link_to(t("contact.help.link_text"), Settings.help_link),
         book_link: link_to(t("contact.help.book_html").html_safe, Settings.book_link)) %>
</p>
